.about-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centrar el texto */
  }
  
  .about-container h2 {
    color: #333;
  }
  
  .about-container p, .about-container ul {
    line-height: 1.6;
    color: #171717;
  }
  
  .about-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .about-container ul li {
    margin-bottom: 10px;
  }
  
  .about-container strong {
    color: #000;
  }
  