.menjars {
    display: flex;  
    flex-wrap: wrap; 
    justify-content: center;  
}
.circle {
    margin: 20px;
    width: 150px;          
    height: 150px;          
    background-color: #ffa000; 
    color: white;           
    border-radius: 50%;     
    display: flex;          
    justify-content: center; 
    align-items: center;    
    font-size: 20px;        
    text-align: center;     
    font-weight: bold;      
}

.text{
    text-decoration: none;
    color: black;
}