.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .cart-item h3 {
    font-size: 16px;
    margin: 0;
    flex: 1;
  }
  
  .cart-item p {
    margin: 5px 0;
    flex: 1;
  }
  
  .cart-item button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .cart-item button:hover {
    background-color: #cc0000;
  }
  
  